.homecontainer{
    width: 100%;
    height: auto;
    border-radius: 25px;
    background-color: #F7F7F7;
}

 /* Mobile : For screen smaller than 576px */
 @media screen and (max-width: 576px) {
    .navPicture{
        height: 175px;
    }
    .catchphrase{
        width: 80%;
font-size: 1.5em;
right: -8%;
top: -120px;
    }
    .background-picture {
        height: 140px;
    }
}