

  .container-collapse {
    width: 50%;
    .collapse {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      background-color: #FF6060;
      border-radius: 10px;
      border: none;
      font-size: 18px;
      font-weight: 500;
      color: white;
      text-align: left;
      padding: 0.8em 1em 0em 1em;
      height: 52px;
      width: 100%;
    }
    .content-collapse {
      background-color: #F7F7F7;
      color: #FF6060;
      font-size: 18px;
      font-weight: 400;
      padding: 18px;
      line-height: 142.6%;
      border-radius: 0px 0px 5px 5px;
      display: none;
    }
    .equipment {
      margin: 0;
    }
    .chevron-collapse {
      transition: transform 0.6s ease-in-out;
    }
    .active {
      & .chevron-collapse {
        transform: rotate(180deg);
      }
      .content-collapse {
        display: block;
      }
    }
  }

  .container-collapseactive {
    & .collapse{
  & .chevron-collapse{
    transform: rotate(180deg);
  }}}

  .content-collapseactive {
    background-color: #F7F7F7;
    color: #FF6060;
    font-size: 18px;
    font-weight: 400;
    padding: 18px;
    line-height: 142.6%;
    border-radius: 0px 0px 5px 5px;
    display: block;
  }

  .dropdown-about{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
  }

  .dropdown-about{
    align-items: center;
    & .container-collapse{
      width: 80%;
      align-items: center;
      & .content-collapseactive{
        margin: 0 0 20px 0;
      }
     & button{
    width: 100%;
    margin: 0 0 20px 0;
  }}}
  
  /* Mobile : For screen smaller than 576px */
  @media screen and (max-width: 576px) {
    .container-collapse {
      .collapse {
        font-size: 13px;
        height: 24px;
        border-radius: 5px;
        padding-top: 0.3em;
        .chevron-collapse {
          width: 15px;
          padding-top: 0.2em;
        }
      }
      .content-collapse {
        font-size: 12px;
      }
    }
  }