/* header */
.TopNav{
    display: flex;
  flex-direction: column;
  }
  .navMenu{
    justify-content: space-between;
    display: flex;
    margin: 30px 50px;
    ul li:hover{
      text-decoration: underline;
    }
    ul li:first-child{
margin-right: 20px;
    }
  }
  
  .navMenu_ul{
    display: flex;
  
  }
  .navMenu_li{
    list-style: none;
    a{
      color:#FF6060;
      text-decoration: none;
    }
  }

  .navPicture{
    justify-content: left;
    margin: 0px 50px;
  }
  .background-picture{
    border-radius: 25px;
    width: 100%;
    object-fit: cover;
    height: 223px;
    filter: brightness(0.7);
    margin: 35px 0 0 0;
  }

  .catchphrase{
    text-transform: uppercase;
    position: relative;
    
  color: white;
  top: -150px;
  right: -19%;
  font-size: 2em;
  font-weight: 500;
  }